* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Mobile First min-width 480 */

body {
  background-color: rgb(111, 167, 129);
}
a:link {
  color: rgb(95, 95, 95);
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
}

a:visited {
  color: rgb(95, 95, 95);
}

a:hover {
  color: rgb(194, 22, 180);
}

/* menuArriba */
.NavegacionBroto {
  display: flex;
  /* flex-direction: column; */
  padding: 0.5rem;
  width: 100vw;
  font-size: small;
  font-family: "lato";
  font-weight: bold;
  align-items: center;
  list-style: none;
  background-color: rgb(255, 255, 255);
}

#volver {
   margin-top: 1rem;
    align-items: start;
}

/*Footer */
.baseFooter {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-small;
  list-style: none;
  padding: 1rem;
  color: white;
  background-color: rgb(95, 95, 95);
  bottom: 0;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

a.liksFooter {
  color: rgb(255, 255, 255);
  padding: 2px;
}

/*MEDIAQUERIE*/
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(160, 132, 173);
  }
}

@media screen and (min-width: 1080px) {
  body {
    background-color: rgb(238, 177, 177);
  }

  #volver {
    align-items: start;
    /* position: relative; */
  }

  .NavegacionBroto {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    width: 100vw;
    font-size: small;
    font-family: "lato";
    font-weight: bold;
    list-style: none;
    background-color: rgb(255, 255, 255);
  }

   .baseFooter {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
    color: white;
  }
}