* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TableProduct {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  margin-bottom: 20px 20px;

}

.Imgcuader{
  height: 20rem;
}

.section00 {
  display: flex;
  border: 4px solid #000000;
  padding: 1rem;
  margin: 20px 20px;
}
/*MEDIAQUERIE*/
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(160, 132, 173);
  }

  
  .NavegacionBroto {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    width: 100vw;
    font-size:small;
    font-family: "lato";
    font-weight: bold;
    /* align-items: center; */
    list-style: none;
    background-color: rgb(255, 255, 255);
  
    }

  .baseFooter {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
    color: white;
  }
}

@media screen and (min-width: 1080px) {
  body {
    background-color: rgb(238, 177, 177);
  }

  .TableProduct {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 20px 20px;
  }
  .section00 {
   
    border: 4px solid #3836aa;
    padding: 1rem;
    margin: 20px 20px;
    justify-content: space-around;
  }

  .baseFooter {
    display: flex;
    flex-direction:row;
    list-style: none;
    padding: 1rem;
    color: white;
  }

  
  a.liksFooter{
    color: rgb(255, 255, 255);
    padding: 2px;
  }
}
